.search-area {
  color: var(--clr4);
  font-family: Montserrat;
  width: 12.875em;
  height: 3.5em;
  font-size: 1.1875em;
  font-weight: 500;
}

.grid-container {
  background-color: var(--clr5);
  grid-template-columns: repeat(3, .5fr);
  padding: 3em;
  gap: .75em;
}

.editor {
  background-color: var(--clr5);
  justify-content: center;
  position: absolute;
  left: -999em;
  z-index: 1;
}

.editor .canvas {
  padding: 2em;
}

.control-box {
  display: flex;
  flex-direction: column;
}

.meme-text {
  width: 23.3em;
  height: 3.75em;
  border-radius: 0.75em;
  background-color: var(--clr2);
  font-family: Montserrat;
  font-size: 1.25em;
  font-weight: 400;
  color: var(--clr6);
  margin-top: 1.5em;
  border: none;
}

.meme-text::placeholder {
  color: var(--clr6);
  font-weight: 400;
  font-family: Montserrat;
  font-size: 1.25em;
  margin-left: 5%;
}

.control-box .editor-first-line {
  justify-content: center;
  margin-top: 3%;
  gap: 0.625em;
}

.control-box .editor-second-line {
  justify-content: center;
  margin-top: 3%;
  gap: 0.625em;
}

.control-box .editor-third-line {
  justify-content: center;
  margin-top: 3%;
  gap: 0.625em;
}

.control-box .editor-third-line .font-style {
  font-family: Montserrat;
  width: 7.5em;
  height: 2.5em;
  color: var(--clr6);
  font-size: 20px;
  font-weight: 400;
}

.control-box .editor-share-line {
  justify-content: space-between;
  margin-top: 1em;
  
}

.gal-img:hover{
  cursor: pointer;
  transform: scale(1.2);
  transition: transform 0.2s;
 }

@media (max-width: 800px) {
  .grid-container {
    background-color: var(--clr5);
    grid-template-columns: repeat(2, .5fr);
    padding: 1em;
    gap: .75em;
  }
  .editor {
    flex-direction: column;
  }
  .canvas {
    align-self: center;
  }
  .control-box {
    align-items: center;
  }
}

