.search-area {
  color: var(--clr4);
  font-family: Montserrat;
  width: 206px;
  height: 3.5em;
  font-size: 1.1875em;
  font-weight: 500;
}

.grid-container {
  grid-template-columns: repeat(3, .5fr);
  grid-template-rows: repeat(6, 1fr);
  grid-gap: 10px;
  margin-left: 10em;
  margin-right: 10em;
}

.gallery {
  background-color: var(--clr5);
}

.editor {
  background-color: var(--clr5);
}